.layout {
  text-align: center;
  background-image: url("../../assets/images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  overflow: auto;
  width: 100vw;
  height: 100vh;
}

/* .header {
  height: 64px;
} */

.main {
  display: flex;
  position: absolute;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
